.list-group-item.orders
  CUSTOMER DETAILS: 
  %br
  ="Name: #{order.name}, "
  ="Adress: #{order.address}, "
  ="Email: #{order.email}"
  %br
  %br
  ORDER DETAILS:
  %br
  ="Date and Time: #{order.created_at}"
  %br
	
  -order.order_items.each do |item|
    ="Dish name: #{item.product.title}, "
    ="Quantity: #{item.quantity}, "
    ="Total price: $#{item.total_price}"
  %br
  
  TOTAL: $#{order.total}
  -if order.handled?
    .one Order status: DELIVERED 
  -else 
    .two Order status: PROCESSING
  %br
  -unless order.handled?
    .btn
      =button_to 'Deliver', deliver_order_path(id: order.id), method: :patch, data: { confirm: 'Are you sure?'}, class: 'btn btn-primary'
			